body {
 
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
img{
  border: 3px solid black;
  display: flex;
  justify-content: center;
  height: 70vh;
  width: 99vw;
  object-fit: cover;
  

}

@media screen and (max-width:960px) {
  
  body {
    width: 100%; /* Ensure the body takes up the full viewport width */
    overflow-x: hidden; /* Hide horizontal scrollbar if necessary */
    /* Add other responsive styles here */
  }

  container {
    width: 100%; /* Make sure the container is 100% width */
    /* Add other container-specific styles here */
  }
}