 



.google-maps {
    width: 100%; /* Set the desired width */
    height: 300px; /* Set the desired height */
}

 @media screen and (max-width: 960){
    .google-maps {
        width: 50%; /* Set the desired width */
        height: 500px; /* Set the desired height */
    }
 } 