@media screen and (max-width: 768px) {
    img{
        height: 40vh !important;
        width: 109vw !important;
        max-width: 100% !important;
        
        
       
    };
}

img{
    border: 2px solid black;
    display: flex;
    justify-content: center;
    height: 70vh;
    width: 100%;
    object-fit:scale-down;
    max-width: 100%;
   
};


   

